<html>
   <head>
 <%= stylesheet_link_tag 'base.css' %>
   </head>
   
   <body>
          <div id="LJMU">
          <h1 style="font-size:200%"> About :: LJMU Assets
          </h1>
          </div>
          <br>  
          <br>
          <br>
          <br>
           <hr>
          <br>
          <br>
          <br>
          <br>
          <br>
<center><p style="font-size:130%">This webpage can be used to keep track of assets in the ICT department of LJMU university.
          <br>
          <br>
          <br>
If you do not have an account, signup to have use of our full features.  If you have an account, please login to use the index page to enter new assets, edit existing assets or to delete assets no longer available to the university.</p></center>


<%= link_to 'Back', assets_path %>
   </body>
  
</html>
